{% extends 'baza.html' %}

{% block content %}
    <h1 class="title">{% block title %} {{ angajat.nume }}, {{ angajat.prenume }} {% endblock %}</h1>
    <div class="content">
        <p><strong>Nume:</strong> {{ angajat.nume }}</p>
        <p><strong>Prenume:</strong> {{ angajat.prenume }}</p>
        <p><strong>Functie:</strong> {{ angajat.functie }}</p>
        <p><strong>Servicii:</strong></p>
        <ul>
            {% for serviciu in angajat.functie.servicii %}
                <li>{{ serviciu.nume }} - {{ serviciu.descriere }}</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
