<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - AM Records</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #004835;
            color: #ffffff;
            padding: 10px;
        }

        nav a {
            color: #ffffff;
            text-decoration: none;
            margin-right: 20px;
        }

        .content {
            margin: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}"><strong>AM Records</a></strong>
        <a href="{{ url_for('servicii') }}"><strong>Servicii</a></strong>
        <a href="{{ url_for('despre_noi') }}"><strong>Despre noi</a></strong>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
