{% extends 'baza.html' %}

{% block content %}
    <h1 class="title">{% block title %} Despre noi {% endblock %}</h1>
    <p>Suntem on firma de servicii foto video co o experienta de peste 20 de ani. Suntem specializati in realizarea de servicii foto si video evenimente.</p>
    <p>Echipa noastră este formată din fotografi și videografi talentați, cu o înțelegere profundă a esteticii vizuale și a emoțiilor umane. Ne străduim să surprindem fiecare moment într-un mod autentic și captivant, punând accent pe detaliile care fac diferența. Fiecare proiect este abordat cu atenție și pasiune, garantând că fiecare imagine sau clip video devine o expresie autentică a momentului înregistrat.</p>
    <div class="content">
        {% for angajat in angajati %}
            <div class="angajat">
                <b>
                    <a href="{{ url_for('angajat', id=angajat.id) }}">{{ angajat.nume }}, {{ angajat.prenume }} </a>
                </b>
            </div>
        {% endfor %}
    </div>
{% endblock %}
